@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Burned&display=swap');

@import url(./roots.css);

body {
  background-color: var(--black);
  font-family: var(--main-font);
  color: var(--color-text);
  margin-top: 100px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--black);
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 999;
}


.logo-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 10px;
}

.hamburger-btn {
  display: block;
  border: none;
  width: 25px;
  background-color: transparent;
}

.hamburger-btn svg {
  fill: var(--color-text);
}

.nav-header {
  display: none;
}

.main-logo {
  font-family: var(--font1);
  letter-spacing: 2px;
  color: var(--white);
  font-size: 22px;
}

.main-logo > span {
  color: var(--blood-red);
  border-bottom: 1px solid var(--blood-red);
}

.a-logo-header {
  color: var(--color-text);
  font-size: 15px;
  font-weight: 200;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.hero-container {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.index-h1 {
  font-size: 40px;
  font-family: var(--font1);
  margin-bottom: 20px;
}

 .index-hero-input {
  background-color: var(--deep-grey);
  border: none;
  padding: 10px 10px 10px 30px;
  width: 100%;
  border-radius: 25px;
  color: var(--color-text);
  outline: 0.5px solid rgb(40, 39, 39);
}

.index-hero-input:focus {
  outline: 1px solid var(--pure-grey)
}

.form-hero {
  position: relative;
}

.search-icon {
  fill: var(--pure-grey);
  position: absolute;
  top: 10px;
  left: 8px;
  width: 15px;
  height: 15px;
}

.ul-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  width: 100%;
  line-height: 1.5;
}

.ul-text p {
  font-weight: 500;
  letter-spacing: 1px;
}

.ul-text span {
  color: var(--blood-red);
  font-size: 20px;
  font-weight: 800;
  font-family: var(--font1);
  letter-spacing: 2px;
}


.slider-container {
  width: 100%;
  max-width: 300px;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 15px;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 26%, rgba(6,6,6,1) 53%, rgba(19,19,19,1) 86%);
  border: 1px solid var(--deep-grey);
}

.slide h3 {
  font-family: var(--font1);
  letter-spacing: 1px;
  color: var(--blood-red);
  font-size: 30px;
}

.slide p {
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 600;
}

@media (min-width: 300px) {
  .header {
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    z-index: 100;
  }
  .logo-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 10px;
  }

  .socials-mobile {
    display: flex;
    gap: 5%;
    justify-content: center;
    margin-top: 40px;
  }

  .social-mobile {
    fill: var(--blood-red);
    transition: var(--transition);
  }

  .social-mobile:hover {
    fill: red;
  }

  .hamburger-btn {
    position: relative;
    display: block;
    width: 30px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
    margin-right: 10px;
  }

  .hamburger-btn .bar, .hamburger-btn:after, .hamburger-btn:before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--color-text);
    margin: 6px 0px;
    transition: 0.4s;
    border-radius: 5px;
  }

  .hamburger-btn.is-active:before {
    transform: rotate(-45deg) translate(-8px, 5px);
  }

  .hamburger-btn.is-active:after {
    transform: rotate(45deg) translate(-8px, -5px);
  }

  .hamburger-btn.is-active .bar {
    opacity: 0;
  }

  .container-mobile-menu {
    position: fixed;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100%;
    display: block;
    flex-direction: column;
    z-index: 998;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.911) 12%, rgb(0, 0, 0) 91%);
    padding-top: 120px;
    transition: 0.4s;
    border-right: 1px solid var(--color-text);
    padding: 100px 15px;
    align-items: center;
  }

  .main-logo-mobile {
    font-family: var(--font1);
    letter-spacing: 2px;
    color: var(--white);
    font-size: 22px;
  }

  .main-logo-mobile > span {
    color: var(--blood-red);
    border-bottom: 1px solid var(--blood-red);
  }

  .logo-header-mobile {
    margin-bottom: 55px;
    display: flex;
    flex-direction: column;
  }


  .container-mobile-menu.is-active {
    left: 0;
  }

  .nav-header-mobile a {
    display: block;
    width: 100%;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: var(--deep-grey);
    color: var(--color-text);
    text-decoration: none;
    transition: var(--transition);
    border-radius: 25px;
  }

  .titles-a-mobile {
    background-color: #000000;
  }

  .nav-header-mobile a:hover {
    background-color: var(--blood-red);
    color: var(--white);
    cursor: pointer;
  }

  .nav-header {
    display: none;
  }

  .main-logo {
    font-family: var(--font1);
    letter-spacing: 2px;
    color: var(--white);
    font-size: 22px;
  }

  .main-logo > span {
    color: var(--blood-red);
    border-bottom: 1px solid var(--blood-red);
  }

  .a-logo-header {
    color: var(--color-text);
    font-size: 15px;
    font-weight: 200;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .hero-container {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .index-h1 {
    font-size: 40px;
    font-family: var(--font1);
    margin-bottom: 20px;
  }

  .index-h1 > span {
    letter-spacing: 3px;
    background: #420505;
  background: linear-gradient(to right, #8C0404 0%, #ffbb01 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

   .index-hero-input {
    background-color: var(--deep-grey);
    border: none;
    padding: 10px 10px 10px 30px;
    width: 100%;
    border-radius: 25px;
    color: var(--color-text);
    outline: 0.5px solid rgb(40, 39, 39);
  }

  .index-hero-input:focus {
    outline: 1px solid var(--pure-grey)
  }

  .form-hero {
    position: relative;
  }

  .search-icon {
    fill: var(--pure-grey);
    position: absolute;
    top: 10px;
    left: 8px;
    width: 15px;
    height: 15px;
  }

  .ul-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    width: 100%;
    line-height: 1.5;
  }

  .ul-text p {
    font-weight: 500;
    letter-spacing: 1px;
  }

  .ul-text span {
    color: var(--blood-red);
    font-size: 20px;
    font-weight: 800;
    font-family: var(--font1);
    letter-spacing: 2px;
  }


  .slider-container {
    width: 100%;
    max-width: 250px;
    overflow: hidden;
  }

  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slide {
    flex: 0 0 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 15px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 26%, rgba(6,6,6,1) 53%, rgba(19,19,19,1) 86%);
    border: 1px solid var(--deep-grey);
  }

  .slide h3 {
    font-family: var(--font1);
    letter-spacing: 1px;
    color: var(--blood-red);
    font-size: 25px;
  }

  .slide p {
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 600;
  }

  .second-container {
    padding: 30px 0px;
  }

  .index-h2 {
    text-align: center;
    font-family: var(--font1);
    font-size: 35px;
  }

  .tabs {
    margin: 20px 0;
    width: 100%;
}
.tab {
    list-style:none;
    padding:0;
    margin:0;
    display: flex;
}
.tab-el {
    background: var(--color);
    border-radius: 15px 15px 0 0;
    transition: 0.5s background-color;
    background-image: linear-gradient(var(--color) calc(100% - 10px), rgba(0,0,0,0.5));
    margin-right:2px;
    transition: 0.1s all;
}
.tab-link {
    padding: 15px 15px;
    display: block;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-text);
    font-weight: bold;
}
.tab-el-active {
    background: rgba(27,3,3,1);
    box-shadow: none;
    margin-left:0;
    color: var(--white);
}
.tab-el-active .tab-link {
    color: var(--white);
}

.tab-content {
    display: none;
    padding: 50px;
    background: rgb(4,3,3);
    background: linear-gradient(0deg, rgba(4, 3, 3, 0.903) 48%, rgba(27,3,3,1) 91%);
    border-radius: 0px 0px 25px 25px;
}
.tab-content-active {
    display: block;
}

.tab-content h3 {
  font-family: var(--font1);
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
  color: var(--dark-white);
}

.tab-content p {
font-weight: 600;
margin-bottom: 10px;
line-height: 35px;
}

.third-container {
  padding: 0px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third-container p {
  font-weight: 600;
margin-bottom: 10px;
line-height: 30px;
}

.third-container p::first-letter {
  font-weight: 800;
  color: var(--blood-red);
  font-size: 30px;
  font-family: var(--font1);
}

.criminal-profilers-list ul {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  flex-direction: column;
}

.criminal-profilers-list > h3 {
  font-family: var(--font1);
  font-size: 35px;
  text-align: center;
  color: var(--blood-red);
}

.criminal-profilers-list ul h3 {
  text-align: center;
  margin-top: 5px;
}

.criminal-profilers-list li {
  width: 250px;
}

.criminal-profilers-list button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.criminal-profilers-list svg {
  fill: var(--color-text);
}

.hamburger-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.hamburger-btn.active-hamburger + .hamburger-menu {
  display: flex;
}

/* podcasts */

.podcasts-main-content {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.podcasts-cards {
  margin-top: 20px;
  border: 1px solid var(--color-text);
  padding: 20px 30px;
}

.podcasts-cards h3 {
  font-family: var(--font1);
  letter-spacing: 2px;
  font-size: 30px;
}

.menu-podcasts {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 30px;
  background-color: var(--deep-grey);
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 25px;
  align-items: center;
  justify-content: flex-start;
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: rgba(32, 31, 31, 0.176);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 50px;
  flex-direction: column;
  position: relative;
  width: 250px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.226)
}

.card a {
  color: var(--color-text);
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0),
    transparent 40%
  );
  z-index: 3;
}

.card::after {
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    rgba(238, 238, 238, 0.112),
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: rgb(10, 10, 10);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  align-items: center;
  padding: 0 20px;
  justify-content: center;
  gap: 10px;
  color: var(--color-text);
}

/* podcasts */

.podcasts-main-content {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.menu-podcasts {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  background-color: var(--deep-grey);
  border-radius: 25px;
  border: 1px solid var(--border-color);
  width: 100%;
}

.menu-podcasts ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 15px;
}

.menu-podcasts ul li {
  padding: 10px 20px;
  background-color: var(--blood-red);
  border-radius: 25px;
  text-align: center;
}

.menu-podcasts ul li a {
  color: var(--color-text);
  text-align: center;
}

.newsletter-section {
  background: rgb(40,0,0);
background: radial-gradient(circle, rgba(40,0,0,0.9668769716088328) 0%, rgba(0,0,0,1) 28%, rgba(0,0,0,1) 76%);
}

  .newsletter-container {
    padding: 50px 60px;
  }

  .newsletter-container h3 {
    text-align: center;
    font-family: var(--font1);
    letter-spacing: 2px;
  }

  .super-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: pulse 1.5s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .super-button {
    background-color: var(--blood-red);
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 120px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .super-button::before {
    content: "";
    position: absolute;
    background: rgba(138, 71, 71, 0.2);
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease;
  }

  .super-button:hover::before {
    transform: translate(-50%, -50%) scale(3);
  }

  .newsletter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

}

@media (min-width: 600px) {
  .header {
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
  }
  .logo-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 10px;
  }

  .socials-mobile {
    display: flex;
    gap: 15%;
  }


  .hamburger-btn svg {
    fill: var(--color-text);
  }

  .nav-header {
    display: none;
  }

  .main-logo {
    font-family: var(--font1);
    letter-spacing: 2px;
    color: var(--white);
    font-size: 22px;
  }

  .main-logo > span {
    color: var(--blood-red);
    border-bottom: 1px solid var(--blood-red);
  }

  .a-logo-header {
    color: var(--color-text);
    font-size: 15px;
    font-weight: 200;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .hero-container {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .index-h1 {
    font-size: 45px;
    font-family: var(--font1);
    margin-bottom: 20px;
  }

   .index-hero-input {
    background-color: var(--deep-grey);
    border: none;
    padding: 15px 10px 15px 40px;
    width: 100%;
    border-radius: 25px;
    color: var(--color-text);
    outline: 0.5px solid rgb(40, 39, 39);
  }

  .index-hero-input:focus {
    outline: 1px solid var(--pure-grey)
  }

  .form-hero {
    position: relative;
  }

  .search-icon {
    fill: var(--pure-grey);
    position: absolute;
    top: 12px;
    left: 11px;
    width: 20px;
    height: 20px;
  }

  .ul-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    width: 100%;
    line-height: 1.5;
  }

  .ul-text p {
    font-weight: 500;
    letter-spacing: 1px;
  }

  .ul-text span {
    color: var(--blood-red);
    font-size: 25px;
    font-weight: 800;
    font-family: var(--font1);
    letter-spacing: 2px;
  }


  .slider-container {
    width: 100%;
    max-width: 500px;
    overflow: hidden;
  }

  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slide {
    flex: 0 0 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 26%, rgba(6,6,6,1) 53%, rgba(19,19,19,1) 86%);
    border: 1px solid var(--deep-grey);
  }

  .slide h3 {
    font-family: var(--font1);
    letter-spacing: 1px;
    color: var(--blood-red);
    font-size: 30px;
  }

  .slide p {
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;
  }

  .second-container {
    padding: 50px 60px;
  }

  .index-h2 {
    text-align: center;
    font-family: var(--font1);
    font-size: 45px;
  }

  .tabs {
    margin: 20px 0;
    width: 100%;
}
.tab {
    list-style:none;
    padding:0;
    margin:0;
    display: flex;
}
.tab-el {
    background: var(--color);
    border-radius: 15px 15px 0 0;
    transition: 0.5s background-color;
    background-image: linear-gradient(var(--color) calc(100% - 10px), rgba(0,0,0,0.5));
    margin-right:2px;
    transition: 0.1s all;
}
.tab-link {
    padding: 25px 35px;
    display: block;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-text);
    font-weight: bold;
}
.tab-el-active {
    background: rgba(27,3,3,1);
    box-shadow: none;
    margin-left:0;
    color: var(--white);
}
.tab-el-active .tab-link {
    color: var(--white);
}

.tab-content {
    display: none;
    padding: 50px;
    background: rgb(4,3,3);
    background: linear-gradient(0deg, rgba(4,3,3,1) 48%, rgba(27,3,3,1) 91%);
    border-radius: 0px 25px 25px 25px;
}
.tab-content-active {
    display: block;
}

.tab-content h3 {
  font-family: var(--font1);
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
  color: var(--dark-white);
}

.tab-content p {
font-weight: 600;
margin-bottom: 10px;
line-height: 35px;
}

.third-container {
  padding: 0px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third-container p {
  font-weight: 600;
margin-bottom: 10px;
line-height: 30px;
}

.third-container p::first-letter {
  font-weight: 800;
  color: var(--blood-red);
  font-size: 30px;
  font-family: var(--font1);
}

.criminal-profilers-list ul {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  flex-direction: column;
}

.criminal-profilers-list > h3 {
  font-family: var(--font1);
  font-size: 35px;
  text-align: center;
  color: var(--blood-red);
}

.criminal-profilers-list ul h3 {
  text-align: center;
  margin-top: 5px;
}

.criminal-profilers-list li {
  width: 250px;
}

.criminal-profilers-list button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.criminal-profilers-list svg {
  fill: var(--color-text);
}

.menu-podcasts {
  border-radius: 100px;
}

.menu-podcasts ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}
}

@media (min-width: 1000px) {

  .header {
    height: 80px;
  }

  .third-container {
    padding: 0px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .third-container p {
    font-weight: 600;
  margin-bottom: 25px;
  line-height: 30px;
  }

  .third-container p::first-letter {
    font-weight: 800;
    color: var(--blood-red);
    font-size: 30px;
    font-family: var(--font1);
  }

  .criminal-profilers-list ul {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    flex-direction: row;
  }

  .criminal-profilers-list > h3 {
    font-family: var(--font1);
    font-size: 35px;
    text-align: center;
    color: var(--blood-red);
  }

  .criminal-profilers-list ul h3 {
    text-align: center;
    margin-top: 5px;
  }

  .criminal-profilers-list li {
    width: 250px;
  }

  .criminal-profilers-list button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .criminal-profilers-list svg {
    fill: var(--color-text);
  }

  /* PODCASTS SECTION */


}

@media (min-width: 1200px) {

  .container {
    max-width: 1600px;
  }

  .header {
    display: flex;
    justify-content: space-around;
    background-color: var(--black);
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid var(--border-color);
  }

  .container-mobile-menu {
    display: none;
  }

  .main-logo {
    font-family: var(--font1);
    letter-spacing: 2px;
    color: var(--white);
    font-size: 22px;
  }

  .main-logo > span {
    color: var(--blood-red);
    border-bottom: 1px solid var(--blood-red);
  }

  .active-header div {
    width: 120%;
    height: 25px;
    position: absolute;
    background: #000000;
    top:  35px;
    left: -10px;
    border-radius: 25px;
    border-bottom: 1px solid red;
  }

  .a-logo-header {
    color: var(--color-text);
    font-size: 15px;
    font-weight: 200;
  }


  .header.sticky {
    height: 80px;
    background: #010000e3;
    box-shadow: 0 1px 10px rgb(0, 0, 0);
    margin-top: 0px;
}


  .hamburger-btn {
    display: none;
  }

  .logo-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .nav-header {
    display: flex;
    gap: 40px;
  }

  .active-header {
    position: relative;

  }
  .active-header a {
    color: var(--white);
    font-weight: 600;
  }

  .a-logo-header {
    color: var(--color-text);
    font-size: 15px;
    font-weight: 200;
  }

  .effect {
    position: relative;
    color: var(--color-text);
    font-weight: 600;
    transition: var(--transition);
  }

  .effect:hover {
    color: var(--white);
  }
  .effect::after {
    content: '';
    width: 0;
    height: 5px;
    position: absolute;
    bottom: -29px;
    background: var(--border-color);
    transition: width 0.5s, left 0.5s;
      right: 0;
      border-radius: 2px;
  }

  .effect:hover::after {
    width: 100%;
      left: 0;
  }

  .second-container {
    padding: 50px 60px;
  }

  .index-h2 {
    text-align: center;
    font-family: var(--font1);
    font-size: 45px;
  }

  .tabs {
    margin: 25px 0;
    width: 1000px;
}
.tab {
    list-style:none;
    padding:0;
    margin:0;
    display: flex;
}
.tab-el {
    background: var(--color);
    border-radius: 15px 15px 0 0;
    transition: 0.5s background-color;
    background-image: linear-gradient(var(--color) calc(100% - 10px), rgba(0,0,0,0.5));
    margin-right:2px;
    transition: 0.1s all;
}
.tab-link {
    padding: 25px 35px;
    display: block;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-text);
    font-weight: bold;
}
.tab-el-active {
    background: rgba(27,3,3,1);
    box-shadow: none;
    margin-left:0;
    color: var(--white);
}
.tab-el-active .tab-link {
    color: var(--white);
}

.tab-content {
    display: none;
    padding: 50px;
    background: rgb(4,3,3);
    background: linear-gradient(0deg, rgba(4,3,3,1) 48%, rgba(27,3,3,1) 91%);
    border-radius: 0px 25px 25px 25px;
}
.tab-content-active {
    display: block;
}

.tab-content h3 {
  font-family: var(--font1);
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
  color: var(--dark-white);
}

.tab-content p {
font-weight: 600;
margin-bottom: 25px;
line-height: 35px;
}

/* third-section */

.third-container {
  padding: 0px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: repeat-x;
  background-position: right top;
  background-attachment: fixed;
}

.third-container p {
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 30px;
}

.third-container p::first-letter {
  font-weight: 800;
  color: var(--blood-red);
  font-size: 30px;
  font-family: var(--font1);
}

.criminal-profilers-list ul {
  display: flex;
  gap: 60px;
  margin-top: 40px;
  flex-direction: row;
  background-color: var(--deep-grey);
  padding: 45px;
  border-radius: 25px;
}

.criminal-profilers-list > h3 {
  font-family: var(--font1);
  font-size: 35px;
  text-align: center;
  color: var(--blood-red);
  margin-top: 20px;
}

.criminal-profilers-list ul h3 {
  text-align: center;
  margin-top: 5px;
}

.criminal-profilers-list li {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.learn-more-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.learn-more-btn svg {
  fill: var(--color-text);
}

.content-third {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  border-radius: 25px;
  align-items: center;
  background: rgb(4,3,3);
  background: linear-gradient(0deg, rgba(4,3,3,1) 48%, rgba(27,3,3,1) 91%);
}

/* podcasts */

.podcasts-main-content {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.podcasts-cards {
  margin-top: 20px;
  border: 1px solid var(--color-text);
  padding: 20px 30px;
}

.podcasts-cards h3 {
  font-family: var(--font1);
  letter-spacing: 2px;
  font-size: 30px;
}

.menu-podcasts {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 30px;
  background-color: var(--deep-grey);
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 25px;
  align-items: center;
  justify-content: flex-start;
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: rgba(32, 31, 31, 0.176);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 80px;
  flex-direction: column;
  position: relative;
  width: 300px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.226)
}

.card a {
  color: var(--color-text);
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0),
    transparent 40%
  );
  z-index: 3;
}

.card::after {
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    rgba(238, 238, 238, 0.112),
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: rgb(10, 10, 10);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  align-items: center;
  padding: 0 20px;
  justify-content: center;
  gap: 10px;
  color: var(--color-text);
}

/* newsletter */

.newsletter-section {
  background: rgb(40,0,0);
background: radial-gradient(circle, rgba(40,0,0,0.9668769716088328) 0%, rgba(0,0,0,1) 28%, rgba(0,0,0,1) 76%);
}

  .newsletter-container {
    padding: 50px 60px;
  }

  .super-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: pulse 1.5s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .super-button {
    background-color: var(--blood-red);
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 120px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .super-button::before {
    content: "";
    position: absolute;
    background: rgba(138, 71, 71, 0.2);
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease;
  }

  .super-button:hover::before {
    transform: translate(-50%, -50%) scale(3);
  }

  .newsletter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }


}

@media (min-width: 1400px) {
  /* section hero */

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .hero-container {
    padding: 50px 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 90px;
  }

  .index-h1 {
    font-size: 55px;
    font-family: var(--font1);
    margin-bottom: 20px;
  }

  .index-hero-input {
    background-color: var(--deep-grey);
    border: none;
    padding: 15px 30px 15px 50px;
    width: 550px;
    border-radius: 25px;
    color: var(--color-text);
    outline: 0.5px solid rgb(40, 39, 39);
  }

  .index-hero-input:focus {
    outline: 1px solid var(--pure-grey)
  }

  .form-hero {
    position: relative;
  }

  .search-icon {
    fill: var(--pure-grey);
    position: absolute;
    top: 12px;
    left: 15px;
  }

  .ul-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    width: 100%;
    line-height: 1.5;
  }

  .ul-text p {
    font-weight: 500;
    letter-spacing: 1px;
  }

  .ul-text span {
    color: var(--blood-red);
    font-size: 25px;
    font-weight: 800;
    font-family: var(--font1);
    letter-spacing: 2px;
  }


  .slider-container {
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    margin-right: 80px;
  }

  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slide {
    flex: 0 0 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 26%, rgba(6,6,6,1) 53%, rgba(19,19,19,1) 86%);
    border: 1px solid var(--deep-grey);
  }


  .slide h3 {
    font-family: var(--font1);
    letter-spacing: 1px;
    color: var(--blood-red);
    font-size: 30px;
  }

  .slide p {
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;
  }

  /* second section */

  .tabs {
    margin: 30px 0;
    width: 1200px;
}
.tab {
    list-style:none;
    padding:0;
    margin:0;
    display: flex;
}
.tab-el {
    background: var(--color);
    border-radius: 15px 15px 0 0;
    transition: 0.5s background-color;
    background-image: linear-gradient(var(--color) calc(100% - 10px), rgba(0,0,0,0.5));
    margin-right:2px;
    transition: 0.1s all;
}
.tab-link {
    padding: 25px 35px;
    display: block;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-text);
    font-weight: bold;
}
.tab-el-active {
    background: rgba(27,3,3,1);
    box-shadow: none;
    margin-left:0;
    color: var(--white);
}
.tab-el-active .tab-link {
    color: var(--white);
}

.tab-content {
    display: none;
    padding: 50px;
    background: rgb(4,3,3);
    background: linear-gradient(0deg, rgba(4,3,3,1) 48%, rgba(27,3,3,1) 91%);
    border-radius: 0px 25px 25px 25px;
}
.tab-content-active {
    display: block;
}



/* third-section */

.third-container {
  padding: 0px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* fourth section */

.fourth-container {
  padding: 60px 50px;
}
}